body { 
    display: grid;
    grid-template-rows: repeat(3,100vh);
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    }
  header, footer, article, nav, div {
    background: #765D69;
  }

  #pageHeader{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: center;
    grid-column: 1/4;
  }

  .infoPanel{
    width: 50%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: #ebebeb;
    border-radius: 15px;
    border: 2px dotted #765D69;
    text-align: center;
  }
 